<!-- 
Student: Joaquin Saldana 
Assignment: Get/Post Checker 
Week 7 
Description: this is one of the view handlebars pages used to display error.  
This page wil display 404 Error is the user attempts to access a page that 
does not exists 
 -->

 <h1>404 ERROR</h1>