<!-- 
Student: Joaquin Saldana 
Assignment: Get/Post Checker 
Week 7 
Description: this is the random number 
handlebar page for the random number generator 
 -->


<h1>The Random Number Page</h1>
<p>Your random number is {{rNumber}}</p>