
<!-- 
Student: Joaquin Saldana 
Assignment: Final Assignment 
Description: this is my submission for the final assignment where we create our own server side 
code and client side page with Ajax requests 

This is the main handlebars page that will be used to serve the page 
--> 


<!doctype html>
<html>
<head>
	<title>CS290 Workout Tracker</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	{{{body}}}
</body>
</html>